*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

#mainsvg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* width: 500px;
    height: 500px; */
    background-color: #000;
    z-index: 2;
}
#mainsvg path{
    /* background-blend-mode: difference; */
}

div#main div.border {
    position: absolute;
    background-color: #000;
    z-index: 3;
}
div#main div.border.left {
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 10%;
}
div#main div.border.right {
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 10%;
}
div#main div.border.top {
    top: 0px;
    left: 0px;
    height: 10vh;
    width: 100%;
}
div#main div.border.bottom {
    bottom: 0px;
    left: 0px;
    height: 10vh;
    width: 100%;
}


div#main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
    
}

body.vertical div#main {
    /* position: absolute; */
}

div#about {
    position: absolute;
    top: 100vh;
    right: 0px;
    width: 33%;
    z-index: 1;
    
    color: #fff;
}

body.vertical div#about {
    left: 0px;
    width: 100%;
    background-color: #000;
}
