*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #000;
}

#mainsvg{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 500px;
    background-blend-mode: difference;
}
#mainsvg path{
    background-blend-mode: difference;
}